nav{
    display: flex;
    justify-content:space-between;
}
main{
    display: flex;
    justify-content:center; /*left to right*/
    align-items:center;  /*up and down*/
    flex-direction:column ; /*row and column */
}
footer{
    display: flex;
    justify-content:center;
}
body{
    display: flex;
    height: 98vh;
    justify-content:space-between;
    flex-direction:column ; /*row and column */
}
footer{
    display: flex;
    justify-content:space-between;
}
.buttons{
    padding: 30px 30px 30px 30px;
}
.button{
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
}